@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime
@using MFaaS.Shared.Models;

<div class="page">
    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            <div>
                <div style="text-align: center">
                    <img width="624" height="320" src="https://github.com/Stitti/MFaaS/blob/master/Client/Resources/modern-family-as-a-service.jpg?raw=true" alt="Image"/>
                </div>
                <div>
                  <blockquote style="text-align:center;">
                    <p style="font-size:20px;">"@_Quotation?.Quote"</p>
                    <cite style="font-size:14px">@_Quotation?.Actor</cite>
                  </blockquote>
                </div>
            </div>
        </article>
    </main>
</div>

@code {
    private HttpClient _HttpClient = new HttpClient();
    private Quotation _Quotation;

    protected override async Task OnInitializedAsync()
    {
        _HttpClient.BaseAddress = new Uri("https://mfaas.herokuapp.com");
        _Quotation = await _HttpClient.GetFromJsonAsync<Quotation>("/api/quotes/random");
    }
}

